<header>
    
    
    <a href="/list "> 
        <button>LIST ALL PRODUCTS</button>
        </a>
    <a href="/create"> 
        <button>CREATE PRODUCT</button>
        </a>
    <a href="/edit"> 
        <button>EDIT PRODUCT</button>
        </a>
    
    <style>
        a {
        cursor: pointer;
        }
    </style>
</header>